
<div class="card shadow-lg p-3 mb-5 bg-white rounded ms-auto">
    <div class="card-body">
        <h1 class="card-title">@ViewData["title"]</h1>
        <h2 class="card-subtitle">Список</h2>
        
        <ol type="A" class="card-text">
            @for(int i = 1; i <= 2; i++)
            {
                <li> элемент @i списка</li>
            }
        </ol>

        <select asp-items="@ViewData["Lst"] as SelectList"></select>

        <hr />
        <h2 class="card-subtitle">Форма</h2>
        <form method="get" action="#">
            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gridCheck" id="gridCheck1" value="option1">
                        <label class="form-check-label" for="gridCheck1">
                            Чек-бокс 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="gridCheck" id="gridCheck2" value="option2">
                        <label class="form-check-label" for="gridCheck2">
                            Чек-бокс 2
                        </label>
                    </div>
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row mt-2">
                    <div class="col-sm-10 offset-sm-2">
                        <div class="form-check form-check-inline ">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                                Радио-1
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                                Радио-2
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                                Радио-3
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row mt-2">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Логин:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Введите имя">
                </div>
            </div>
            <div class="form-group row mt-2">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Введите пароль">
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>